*{
    
    margin: 0;}
    
ul {
    list-style: none;
    
}
a {
    text-decoration: none;
    color: #880E4F;
    font-weight: bold;
   }

.header{
display:flex;
justify-content: space-between;
align-items: center;
background-color:rgb(241, 239, 236); 
height: 100px;
color : #880E4F;
margin:0 ;

}
.logo-header{
    display: flex;
    align-items: center;
    gap: 25px;
    margin-left: 100px;
}
.navbar ul {
    display: flex;
    gap: 40px;
    align-items: center;
    padding: opx;
    color: #880E4F;
    font-size: 16px;
    margin-right: 100px;
}
.hero{
    background-image: url(https://i.pinimg.com/1200x/63/6a/b6/636ab63818a87be5b920043823059a0d.jpg);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}
.hero-content{
    display:flex;
    flex-direction: column;
    align-items: center;
    padding-top: 295px;
    color: #880E4F;
}
#Welcome{
    font-size: 50px;
}
#pastry{
    font-size: 25px;
}
.quote{
    padding-top: 25px;
    font-size: 20px;
    text-align: center;
}
.button{
    margin-top: 30px;
    padding:10px;
    border-color: #880E4F;
}
 footer{ 
    background-color: rgb(146, 83, 88);
    text-align: center;
    padding: 20px;
    color: #e9e0e5;
    display: flex;
    justify-content: space-between;
    
}
#copyright{
    font-size: 14px;
    font-weight: lighter;
    color: white;
    display: flex;
    justify-content: center;
    align-items:flex-end;
}
#footer-nav ul {
    gap: 30px;
    display: flex;
    padding-right: 100px;
    
}
#footer-nav ul li a {
    color: white;
font-weight: lighter;
 }
 #logo-title{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    font-size: 14px;
    gap: 5px; 
    
 }
 footer img{
    margin-left: 50px;
 }
    .logo-footer{
        display: flex;
        align-items: center;
        gap: 15px;
    }
    #copyright p{
        margin-top: 20px;
        margin-left: 20px;
    }
.Our-Menu {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    font-size: 100px;
    color:rgb(246, 244, 243);
}
.menu-section{
    background-image: url(https://i.pinimg.com/1200x/6b/57/b9/6b57b9b35036cbe5b917fd07f8227404.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 350px;
}
.menu-content{
    display:flex;
    flex-direction: column;
    align-items: center;
    padding-top: 70px;
    color:rgba(38, 65, 38, 0.867);
    padding-bottom: 10px;
   
    
}
.menu-content h1{
    font-size: 40px;
    padding-bottom: 20px;
     
}

 .menu-img{
    display: flex;
    justify-content: center;
    gap: 30px;
    
 }
 .menu-img img{
    height: 250px;
    width: 300px;
    
 }
.menu-image{
    background-color: rgb(242, 237, 231);
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    
}
.menu-images{
    display: flex;
    gap:50px;
}
.Desserts{
    font-size: 25px;
    padding-top: 10px;
    text-align: center;
}
.menu-image-column1, .menu-image-column2, .menu-image-column3, .menu-image-column4, .menu-image-column5{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    
    
}
.menu-image-column1{
    margin-left: 30px;
}
.menu-images img{
    height:200px;
    width: 250px;
}

