*{
    
    margin: 0;}
    
ul {
    list-style: none;
    
}
a {
    text-decoration: none;
    color: #880E4F;
    font-weight: bold;
   }

.header{
display:flex;
justify-content: space-between;
align-items: center;
background-color:rgb(241, 239, 236); 
height: 100px;
color : #880E4F;
margin:0 ;

}
.logo-header{
    display: flex;
    align-items: center;
    gap: 25px;
    margin-left: 100px;
}
.navbar ul {
    display: flex;
    gap: 40px;
    align-items: center;
    padding: opx;
    color: #880E4F;
    font-size: 16px;
    margin-right: 100px;
}
.hero{
    background-image: url(https://i.pinimg.com/1200x/63/6a/b6/636ab63818a87be5b920043823059a0d.jpg);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}
.hero-content{
    display:flex;
    flex-direction: column;
    align-items: center;
    padding-top: 295px;
    color: #880E4F;
}
#Welcome{
    font-size: 50px;
}
#pastry{
    font-size: 25px;
}
.quote{
    padding-top: 25px;
    font-size: 20px;
    text-align: center;
}
.button{
    margin-top: 30px;
    padding:10px;
    border-color: #880E4F;
}
 footer{ 
    background-color: rgb(146, 83, 88);
    text-align: center;
    padding: 20px;
    color: #e9e0e5;
    display: flex;
    justify-content: space-between;
    
}
#copyright{
    font-size: 14px;
    font-weight: lighter;
    color: white;
    display: flex;
    justify-content: center;
    align-items:flex-end;
}
#footer-nav ul {
    gap: 30px;
    display: flex;
    padding-right: 100px;
    
}
#footer-nav ul li a {
    color: white;
font-weight: lighter;
 }
 #logo-title{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    font-size: 14px;
    gap: 5px; 
    
 }
 footer img{
    margin-left: 50px;
 }
    .logo-footer{
        display: flex;
        align-items: center;
        gap: 15px;
    }
    #copyright p{
        margin-top: 20px;
        margin-left: 20px;
    }
.menu{
    background-color: rgb(242, 237, 231);
   
}    
.Our-Menu {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    font-size: 100px;
    color:rgb(246, 244, 243);
    
}
.menu-section{
    background-image: url(https://i.pinimg.com/1200x/04/05/78/0405785dbb8bab22e84c209e92d81b42.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center; 
    width: 100%;
    height: 350px; 
    
    
}
.menu-content{
    display:flex;
    flex-direction: column;
    align-items: center;
    padding-top: 70px;
    color:rgba(38, 65, 38, 0.867);
    padding-bottom: 10px;
    background-color: rgb(242, 237, 231);
   
    
}
.menu-content h1{
    font-size: 40px;
    padding-bottom: 20px;
     
}

 .menu-img{
    display: flex;
    justify-content: center;
    gap: 30px;
    background-color: rgb(242, 237, 231);
    
 }
 .menu-img img{
    height: 250px;
    width: 300px;
    
 }
.menu-image{
    background-color: rgb(242, 237, 231);
    display: flex;
    flex-direction: column;
    align-items: center;
   padding-top: 50PX;
   margin:100px;
   background-image: url(https://i.pinimg.com/originals/b1/11/19/b11119ec3404d284dc2371a233bf3e0b.png);
    
}
.menu-images{
    display: flex;
    gap:50px;
}
.Desserts{
    font-size: 25px;
    text-align: center;
    padding-bottom: 50px;
}
.menu-image-column1, .menu-image-column2, .menu-image-column3, .menu-image-column4, .menu-image-column5{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;

    
}
.menu-image-column1{
    margin-left: 30px;
}
.menu-images img{
    height:200px;
    width: 250px;
}

.Drinks{
    background-image: url(https://i.pinimg.com/736x/f8/aa/f2/f8aaf278a31268a66e0960c49d01f42a.jpg);
    
    display: flex;
    flex-direction: column; 
    align-items: center;
    padding-top: 50px;
     background-repeat: no-repeat;
    background-size: cover;
    margin:100px;
}
   


.drink{
    display: flex;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 150px;
}

.drink-items{
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.drink-item1, .drink-item2, .drink-item3{
    display: flex;
    gap: 300px;
}
.drink-item1 img, .drink-item2 img, .drink-item3 img{
    height: 400px;
    width: 350px;
    padding-left: 100px;
}
.drink-item1 ul, .drink-item2 ul, .drink-item3 ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 25px;
    font-size: 16px;
    font-weight: bold;
    font-style: italic;
    padding-top: 50px;
}
.drink-item1 h3, .drink-item2 h3, .drink-item3 h3{
    display: flex;
    justify-content: center;
    font-style: italic; 
}

.drink-item2 ul, .drink-item3 ul{
    padding-top: 50px;
    
}
.drink-item2 h3, .drink-item3 h3{
    padding-top: 50px;
}


.drink-item2 ul{
    padding-left: 150px;
}
.drink-item2 h3{
    padding-left: 150px;
}
.drink-item3-img{
    padding-bottom: 50px;
}

.about-us-content{
    
}

.about-us-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 70px;
}
.about-us-content h1{
    font-size: 40px;
    padding-bottom: 20px;
    font-family: "Red Hat Display", Sans-serif;
    padding-top: 200px;
     
}
.about-us-content p{
    font-size: 18px;
    text-align: center;
    padding-bottom: 50px;
    
    
}
.image1, .image2, .image3{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
}
.image1 img, .image2 img, .image3 img{
    height: 400px;
    width: 400px;
    margin: 50px;
}
.image3 img{
    padding-bottom: 150px;
}
.image1 p, .image2 p, .image3 p{
    font-size: 18px;
    width: 400px;
    text-align: center;
    margin: 50px;
}
.image1 h2, .image2 h2, .image3 h2{
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
}
.About-Us{
    background-image: url(https://i.pinimg.com/736x/ab/8b/cb/ab8bcbe86e2ae2fd006e5877a9f91ad1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    /* margin-bottom: 100px; */

}

.Contact{
    background-image: url(https://i.pinimg.com/1200x/5e/ac/c0/5eacc0d64ffb66b09e6c615823b5f43f.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
   
}
.Contact p{
    font-size: 18px;
    width:400px;
    text-align: center;
}
.contact-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 250px;
    
}
.contact-content h1{
    font-size: 40px;
    padding-bottom: 40px;
}
.contact-info {
    display:flex;
    flex-direction: column;
    align-items: center;
   
}
.contact-info h1{
    font-size: 40px;
    padding-bottom: 40px;
    padding-top: 50px;
}
.contact-info ul{
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 18px;
    text-align: center;
    font-weight: bold;
}
.contact-info p{
    padding-top: 30px;
    display: flex;
    justify-content: center;
    
}
.email-address{
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.email-address p{
    font-size: 18px;
    text-align: center;
    font-weight: bold;
    gap:20px
    
}

.email-address h1{
    font-size: 40px;
    padding-bottom: 40px;
   
}


