*{
    
    margin: 0;}
    
ul {
    list-style: none;
    
}
a {
    text-decoration: none;
    color: #880E4F;
    font-weight: bold;
   }

.header{
display:flex;
justify-content: space-around;
align-items: center;
background-color:rgb(241, 239, 236); 
height: 100px;
color : #880E4F;
margin:0 ;



}
.navbar ul {
    display: flex;
    gap: 40px;
    align-items: center;
    padding: opx;
    color: #880E4F;
    font-size: 16px;
}
.hero{
    background-image: url(https://i.pinimg.com/1200x/63/6a/b6/636ab63818a87be5b920043823059a0d.jpg);
    height: 600px;
    background-repeat: no-repeat;
    background-size: cover;
}
.hero-content{
    display:flex;
    flex-direction: column;
    align-items: center;
    padding-top: 295px;
    color: #880E4F;
}
#Welcome{
    font-size: 50px;
}
#pastry{
    font-size: 25px;
}
.quote{
    padding-top: 25px;
    font-size: 20px;
    text-align: center;
}
.button{
    margin-top: 30px;
    padding:10px;
    border-color: #880E4F;
}
 footer{ 
    background-color: rgb(241, 239, 236);
    text-align: center;
    padding: 20px;
    color: #880E4F;
    margin-top: 50px;
    margin-bottom: 0%;
}