*{
    
    margin: 0;}
    
ul {
    list-style: none;
    
}
a {
    text-decoration: none;
    color: #880E4F;
    font-weight: bold;
   }

.header{
display:flex;
justify-content: space-between;
align-items: center;
background-color:rgb(241, 239, 236); 
height: 100px;
color : #880E4F;
margin:0 ;

}
.logo-header{
    display: flex;
    align-items: center;
    gap: 25px;
    margin-left: 100px;
}
.navbar ul {
    display: flex;
    gap: 40px;
    align-items: center;
    padding: opx;
    color: #880E4F;
    font-size: 16px;
    margin-right: 100px;
}
.hero{
    background-image: url(https://i.pinimg.com/1200x/63/6a/b6/636ab63818a87be5b920043823059a0d.jpg);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}
.hero-content{
    display:flex;
    flex-direction: column;
    align-items: center;
    padding-top: 295px;
    color: #880E4F;
}
#Welcome{
    font-size: 50px;
}
#pastry{
    font-size: 25px;
}
.quote{
    padding-top: 25px;
    font-size: 20px;
    text-align: center;
}
.button{
    margin-top: 30px;
    padding:10px;
    border-color: #880E4F;
}
 footer{ 
    background-color: rgb(146, 83, 88);
    text-align: center;
    padding: 20px;
    color: #e9e0e5;
    display: flex;
    justify-content: space-between;
    
}
#copyright{
    font-size: 14px;
    font-weight: lighter;
    color: white;
    display: flex;
    justify-content: center;
    align-items:flex-end;
}
#footer-nav ul {
    gap: 30px;
    display: flex;
    padding-right: 100px;
    
}
#footer-nav ul li a {
    color: white;
font-weight: lighter;
 }
 #logo-title{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    font-size: 14px;
    gap: 5px; 
    
 }
 footer img{
    margin-left: 50px;
 }
    .logo-footer{
        display: flex;
        align-items: center;
        gap: 15px;
    }
    #copyright p{
        margin-top: 20px;
        margin-left: 20px;
    }
.Our-Menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
    gap: 20px;
    color:white;
}
.menu-section{
    background-image: url(https://i.pinimg.com/736x/60/7a/ca/607aca02b7fbcdc81f0215eaeea19117.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height:350px;


}